# Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
5%2

1

In [4]:
5/2

2.5

In [5]:
5//2

2

In [6]:
# bodmas formulae
5+3*2

11

In [7]:
type(4/2)

float

In [8]:
type("b")

str

In [9]:
a=10
b=30
c=a+b
c

40

In [10]:
True or False

True

In [11]:
True and False

False

In [12]:
type(True or False)

bool

In [13]:
True | False

True

In [14]:
a=10
b=20
a+b > 30

False

In [15]:
a+b>30 | a-b<10

True

In [16]:
a+b>30 or a-b<10

True

In [17]:
# string

In [18]:
type("krish")

str

In [19]:
str(1)

'1'

In [20]:
# this is called type casting

In [21]:
# never assign the reserved key words to a value, ie never assign the variable as
# its functionality will change
# str, int, float,

In [22]:
str1 = "a good boy"
str2 = "a bad boy"

In [23]:
print(str1)
print(str2)

a good boy
a bad boy

In [24]:
str1+str2

'a good boya bad boy'

In [25]:
str1+ " " + str2

'a good boy a bad boy'

In [26]:
name = input("Enter your name:")
print(name)

Enter your name:

In [27]:
a=input("Enter number 1:")
b=input("Enter number 2:")
c= a+b
print("the output is", c)

Enter number 1:
Enter number 2:
the output is

In [28]:
# by default it is string type ,so here the strings are concatenated

In [35]:
# add2 numbers
a=float(input("type in first number:"))
b= float(input("type in second number:"))
c = a + b
print(c)

type in first number:5
type in second number:65
70.0

In [36]:
first_name = input("whats your first name:")
last_name = input("what's your last name:")
print("Welcome to i neuron",first_name, last_name)

whats your first name:5
what's your last name:3
Welcome to i neuron 5 3

In [37]:
print("My first name is {} and my last name is {}".format(first_name, last_name))

My first name is 5 and my last name is 3

In [38]:
print(" My first name is {1} and my last name is {0}".format(last_name, first_name))

 My first name is 5 and my last name is 3

In [39]:
print("My first name is {fname} and my last name is {lname}".format(fname=first_name, lname=last_name))

My first name is 5 and my last name is 3

# Variable Dynamic typing

In [40]:
a = 10.0
type(a)

float

In [41]:
a ="Bhuvan"
type(a)

str

In [42]:
#strong typing
"Bhuvan" + str(1)

'Bhuvan1'

In [43]:
1 + int("3")

4

In [44]:
# conditional statement
a = int(input("type the first number:"))
b = int(input("type the second number:"))
c = a - b
print("The output is", c)
if c < 0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

type the first number:5
type the second number:6
The output is -1
The number is negative

# data structures
1. list
2. tuple
3. string
4. dictionaries
5. sets

In [45]:
lst = [1,2,3,"Bhuvan","Joshi"]

In [47]:
type(lst[3])

str

In [48]:
list((1,2,3,"BHuvan"))

[1, 2, 3, 'BHuvan']

In [50]:
lst.append("J")
lst.append("J")
lst.append("J")
lst.append("J")
lst

[1, 2, 3, 'Bhuvan', 'Joshi', 'J', 'J', 'J', 'J', 'J']

In [51]:
lst.count("J")

5

In [52]:
# indexing
# strings are immutable 
str1 =" Bhuvan"
srt1[2]="e"

NameError: name 'srt1' is not defined